<div class="manager">
  <div class="row" *ngIf="owner">
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <div style="text-align: center">Manager</div>
          <div class="avatar-container">
            <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
          </div>
        </div>
        <div class="card-body manager-info">
          <div><b>{{owner.name}} &nbsp;{{owner.lastName}}</b></div>
          <div>{{owner.email}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
