.card {
  margin-bottom: 0;
}

.dropdown-item:active {
  background-color: #CAE2AA;
}

::ng-deep {

  .header-class {
    font-size: 14px;
    align-items: center;
  }

  .cell-class {
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .rating-header-class {
    .ag-header-cell-label {
      flex-direction: row-reverse;
    }
  }

  .rating-cell-class {
    flex-direction: row-reverse;
  }
}
