<alert *ngIf="alert.show" [type]="alert.type" [dismissible]="true"
       (onClose)="alert.show = false">{{ alert.msg }}</alert>

<div class="row">
  <div class="col-md-2">
    <div class="owner-card">
      <app-owner-card></app-owner-card>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="houseForm" (ngSubmit)="onSubmit()">
          <div class="card" [style.min-height]="cardHeight">
            <div class="card-header">
              House
              <div class="card-header-actions" *ngIf="houseId !== undefined">
                <button class="btn btn-primary" type="button" (click)="onPreview()">
                  Preview
                </button>
              </div>
            </div>
            <div class="card-body">
              <tabset>
                <tab heading="General">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Name</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" formControlName="id" hidden>
                      <div class="bg-danger"
                           *ngIf="houseForm.get('name').hasError('required') && houseForm.get('name').touched">
                        Name required
                      </div>
                      <input type="text" class="form-control" formControlName="name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Phones</label>
                    <div class="col-md-9">
                      <div class="bg-danger"
                           *ngIf="houseForm.get('phones').hasError('required') && houseForm.get('phones').touched">
                        Phones required
                      </div>
                      <input type="text" class="form-control" formControlName="phones">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Rooms</label>
                    <div class="col-md-9">
                      <div class="bg-danger"
                           *ngIf="houseForm.get('rooms').hasError('required') && houseForm.get('rooms').touched">
                        Rooms quantity required
                      </div>
                      <input type="number" class="form-control" formControlName="rooms">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Owner</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" formControlName="owner">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Owner email</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" formControlName="email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Description</label>
                    <div class="col-md-9">
                      <div class="bg-danger"
                           *ngIf="houseForm.get('description').hasError('required') && houseForm.get('description').touched">
                        Description required
                      </div>
                      <textarea style="min-height: 400px" class="form-control" formControlName="description"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Keywords</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" formControlName="metaKeywords">
                    </div>
                  </div>
                </tab>
                <tab heading="Accommodation">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Accommodation Type</label>
                    <div class="col-md-9">
                      <div class="bg-danger"
                           *ngIf="houseForm.get('accommodation').hasError('required') && houseForm.get('accommodation').touched">
                        Accommodation required
                      </div>
                      <ng-select [items]="accommodationTypes$ | async"
                                 placeholder="Select accomodation type"
                                 bindValue="id"
                                 bindLabel="name"
                                 formControlName="accommodation">

                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Free services</label>
                    <div class="col-md-9">
                      <ng-select [items]="freeServices$ | async"
                                 placeholder="Select free services"
                                 bindValue="id"
                                 bindLabel="name"
                                 [multiple]="true"
                                 [closeOnSelect]="false"
                                 [searchable]="false"
                                 formControlName="homestayFreeservices">

                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Not offered services</label>
                    <div class="col-md-9">
                      <ng-select [items]="notOffered$ | async"
                                 placeholder="Select not offered services"
                                 bindValue="id"
                                 bindLabel="name"
                                 [multiple]="true"
                                 [closeOnSelect]="false"
                                 [searchable]="false"
                                 formControlName="homestayNotOffered">

                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Extra-cost services</label>
                    <div class="col-md-9">
                      <ng-select [items]="extraCost$ | async"
                                 placeholder="Select extra-cost services"
                                 bindValue="id"
                                 bindLabel="name"
                                 [multiple]="true"
                                 [closeOnSelect]="false"
                                 [searchable]="false"
                                 formControlName="homestayExtracosts">

                      </ng-select>
                    </div>
                  </div>
                </tab>
                <tab heading="Location">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Location type</label>
                    <div class="col-md-9">
                      <div class="bg-danger"
                           *ngIf="houseForm.get('location').hasError('required') && houseForm.get('location').touched">
                        Location type required
                      </div>
                      <ng-select [items]="location$ | async"
                                 placeholder="Select location type"
                                 bindValue="id"
                                 bindLabel="name"
                                 [multiple]="false"
                                 [closeOnSelect]="true"
                                 [searchable]="true"
                                 formControlName="location">

                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Address</label>
                    <div class="col-md-9">
                      <div
                        class="bg-danger"
                        *ngIf="houseForm.get('address').hasError('required') && houseForm.get('address').touched">
                        Address required
                      </div>
                      <input type="text" class="form-control" formControlName="address">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Province</label>
                    <div class="col-md-9">
                      <ng-select [items]="provinces$ | async"
                                 placeholder="Select province"
                                 bindValue="id"
                                 bindLabel="name"
                                 #provincesSelect>

                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Municipality</label>
                    <div class="col-md-9">
                      <div class="bg-danger"
                           *ngIf="houseForm.get('municipality').hasError('required') && houseForm.get('municipality').touched">
                        Municipality required
                      </div>
                      <ng-select [items]="municipalities"
                                 placeholder="Select municipality"
                                 bindValue="id"
                                 bindLabel="name"
                                 formControlName="municipality"
                                 [loading]="loadingMunicipalities"
                                 #municipalitiesSelect>

                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Latitude</label>
                    <div class="col-md-9">
                      <input type="number" step="0.00001" class="form-control" formControlName="latitude">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Longitude</label>
                    <div class="col-md-9">
                      <input type="number" class="form-control" formControlName="longitude">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Nearby places</label>
                    <div class="col-md-9">
                      <div class="bg-danger"
                           *ngIf="houseForm.get('places').hasError('required') && houseForm.get('places').touched">
                        Nearby places required
                      </div>
                      <ng-select [items]="places$ | async"
                                 placeholder="Select nearby places"
                                 bindValue="id"
                                 bindLabel="name"
                                 [multiple]="true"
                                 [closeOnSelect]="false"
                                 [searchable]="false"
                                 formControlName="places">

                      </ng-select>
                    </div>
                  </div>
                </tab>
                <tab heading="Prices">
                  <table class="table table-bordered outer-table">
                    <thead>
                    <tr>
                      <th>Seasons</th>
                      <th>Prices</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let housePriceForm of houseForm.controls['homestayPrices']['controls'] | seasonScrub">
                      <td>
                        <table class="table table-sm table-borderless inner-table">
                          <tr
                            *ngFor="let rangeForm of
                            housePriceForm.controls['season']['controls']['seasonRanges']['controls']
                            | formControlDateSort">
                            <td class="dates">
                              {{dateHelper.getVisualDateFormat(rangeForm.value.start)}}
                              - {{dateHelper.getVisualDateFormat(rangeForm.value.end)}}
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td class="price">
                        $ <input class="form-control" type="number" [formControl]="housePriceForm.controls['price']"/>
                      </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <td colspan="2">
                        <button type="button" style="width: 100%" class="btn btn-ghost-primary"
                                (click)="openNewSeasonModal()">
                          New season
                        </button>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </tab>
                <tab heading="Images" *ngIf="houseId">
                  <div class="row">
                  <div class="col-md-5">
                    <app-image-upload [houseId]="houseId"></app-image-upload>
                  </div>
                  <div class="col-md-7">
                    <gallery id="houseImagesGallery" [items]="images$ | async"></gallery>
                  </div>
                  </div>
                </tab>
              </tabset>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="button" class="btn btn-sm btn-danger" (click)="onReset()"><i class="fa fa-ban"></i> Reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>
