<alert *ngIf="alert.show" [type]="alert.type" [dismissible]="true"
       (onClose)="alert.show = false">{{ alert.msg }}</alert>

<div class="row">
  <div class="col-md-2">
    <div class="house-card">
      <app-house-card [houseId]="houseId"></app-house-card>
    </div>
  </div>
  <div class="col-md-10">
    <div class="comments-list">
      <div class="card" [style.height]="cardHeight">
        <div class="card-header">
          Comments
          <div class="card-header-actions">
            <div class="btn-group" dropdown>
              <button class="btn btn-primary" type="button" (click)="onEdit()" [disabled]="selectedRows.length !== 1">
                Edit
              </button>
              <button id="button-split" class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button"
                      dropdownToggle aria-controls="dropdown-split">
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
              </button>
              <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-animated">
                <li role="menuitem">
                  <a href="javascript:void(0);" class="dropdown-item"
                     [ngClass]="!(selectedRows.length === 1) ? 'disabled' : ''"
                     (click)="onApprove()"
                  >Approve</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <a href="javascript:void(0);" class="dropdown-item"
                     [ngClass]="!(selectedRows.length > 0) ? 'disabled' : ''"
                     (click)="onDelete()">Delete</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ag-grid-angular
            #agGridAngular
            style="width: 100%; height: 100%"
            class="ag-theme-balham"
            pagination="true"
            paginationAutoPageSize="true"
            suppressCellSelection="true"
            rowHeight='40'
            rowSelection="multiple"
            rowClass="row-class"
            [rowData]="commentsObservable | async"
            [columnDefs]="columnDefs"
            (rowSelected)="onRowSelected()">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>

<app-delete #deleteComponent></app-delete>
