.card {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.ng-select.ng-select-single {
  ::ng-deep {
    .ng-option.ng-option-selected {
      background-color: #CAE2AA;
    }
  }
}

.ng-select.ng-select-multiple {
  ::ng-deep {
    .ng-select-container .ng-value-container .ng-value {
      background-color: #CAE2AA;

      .ng-value-icon.left {
        border-right: 1px solid #a2b588;
      }
    }
    .ng-option.ng-option-selected {
      background-color: #CAE2AA;
    }
  }
}
