<div class="row">
  <div class="col-md-2">
    <div class="house-card">
      <app-house-card></app-house-card>
    </div>
  </div>
  <div class="col-md-10">
    <div class="comments-list">
      <div class="card">
        <div class="card-header">
          Comments
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Name</th>
              <th>Nick</th>
              <th>Email</th>
              <th>Text</th>
              <th style="text-align: end">Rating</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
              <td>{{comment.name}}</td>
              <td>{{comment.nick}}</td>
              <td>{{comment.email}}</td>
              <td>{{comment.text}}</td>
              <td style="text-align: end">{{comment.rating}}</td>
              <td>
                <div class="btn-group" dropdown [container]="i >= 8 ? '' : 'body'" [dropup]=" i >= 8">
                  <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                          aria-controls="dropdown-animated">
                    Actions <span class="caret"></span>
                  </button>
                  <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-animated">
                    <li role="menuitem"><a class="dropdown-item" >Approve</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<app-delete #deleteComponent></app-delete>
