<form [formGroup]="imageUploadForm" (ngSubmit)="submit()">

  <div class="form-group">

    <label for="name">Name</label>

    <input
      formControlName="name"
      id="name"
      type="text"
      class="form-control">

    <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
      <div *ngIf="f.name.errors.required">Name is required.</div>
      <div *ngIf="f.name.errors.minlength">Name should be at least 3 characters of length.</div>
    </div>

  </div>

  <div class="form-group">

    <label for="file">File</label>

    <input
      formControlName="file"
      id="file"
      type="file"
      class="form-control"
      (change)="onFileChange($event)">

    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
      <div *ngIf="f.file.errors.required">File is required.</div>
    </div>

  </div>

  <img [src]="imageSrc" *ngIf="imageSrc" alt="Image to upload" class="image-to-upload">

  <button class="btn btn-primary" type="submit">Submit</button>

</form>
