<div class="form-group">

  <label class="image-upload-container btn btn-bwm">
    <span>Select Image</span>
    <input #imageInput
           type="file"
           accept="image/*"
           multiple="multiple"
           (change)="processFile(imageInput)">
  </label>

  <div *ngIf="selectedFiles.length > 0" class="img-preview-container">
    <ng-container *ngFor="let selectedFile of selectedFiles">

      <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
           [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
      </div>
      <img [src]="selectedFile.src" alt="Image to upload" class="image-to-upload">

    </ng-container>
  </div>

</div>

<button class="btn btn-primary" type="button" (click)="submit()">Submit</button>
