// Here you can add other styles
a {
  color: #255180;
}

.app-header {
  background-image: linear-gradient(to top, #ECF4E0 1%, #FFF 70%);
}

.breadcrumb {
  background-image: linear-gradient(to top, #CAE2AA 10%, #ECF4E0 100%);
}

.sidebar {
  background-image: linear-gradient(to top, #CAE2AA 10%, #ECF4E0 92%);
}

.sidebar-minimizer {
  background-color: #a2b588 !important;
}

.sidebar .nav-link {
  color: #6c757d;
}

.sidebar .nav-link.active {
  color: #255180;
  background: #a2b588;
}

.sidebar .nav-link:hover {
  color: #fff;
  background: #7EAD3B;
}

.season-modal {
  max-width: 600px;
}

.house-preview-modal {
  max-width: 1200px;
  height: 700px;
}
