// Variable overrides
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$sidebar-nav-link-bg: #CAE2AA;
$sidebar-nav-link-active-bg: #a2b588;
$sidebar-nav-link-active-color: $breadcrumb-active-color;
$sidebar-nav-dropdown-color: #255180;
$sidebar-nav-link-active-icon-color: $sidebar-nav-dropdown-color;
$sidebar-nav-link-hover-bg: #7EAD3B;
