<div class="row">
  <div class="col-md-2">
    <div class="owner-card">
      <app-owner-card></app-owner-card>
    </div>
  </div>
  <div class="col-md-10">
    <div class="houses-list">
      <div class="card" [style.height]="cardHeight">
        <div class="card-header">
          Houses
          <div class="card-header-actions">
            <div class="btn-group" dropdown>
              <button class="btn btn-primary" type="button" (click)="onNew()">New</button>
              <button id="button-split" class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button"
                      dropdownToggle aria-controls="dropdown-split">
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
              </button>
              <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-animated">
                <li role="menuitem">
                  <a href="javascript:void(0);" class="dropdown-item"
                     [ngClass]="!(selected.length === 1) ? 'disabled' : ''"
                     (click)="onEdit()">Edit</a>
                </li>
                <li role="menuitem">
                  <a href="javascript:void(0);" class="dropdown-item"
                     [ngClass]="!(selected.length === 1) ? 'disabled' : ''"
                     (click)="onViewComments()">View comments</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <a href="javascript:void(0);" class="dropdown-item"
                     [ngClass]="!(selected.length > 0) ? 'disabled' : ''"
                     (click)="onDelete()">Delete</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [columns]="columns"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [rowHeight]="50"
            [loadingIndicator]="true"
            [selectionType]="SelectionType.multi"
            [externalPaging]="true"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            [limit]="page.size"
            (select)="onSelect($event)"
            (page)="setPage($event)">
            <ngx-datatable-column name="Name" headerClass="header"></ngx-datatable-column>
            <ngx-datatable-column name="Phones" headerClass="header"></ngx-datatable-column>
            <ngx-datatable-column name="Address" headerClass="header"></ngx-datatable-column>
            <ngx-datatable-column name="Rooms" headerClass="header right-align" cellClass="right-align"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<app-delete #deleteComponent></app-delete>
