
.avatar-container {
  display: flex;
  justify-content: center;
  height: 110px;

  .img-avatar {
    height: 100%;
  }
}

.card-body {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
