<alert *ngIf="alert.show" [type]="alert.type" [dismissible]="true"
       (onClose)="alert.show = false">{{ alert.msg }}</alert>

<div class="row">
  <div class="col-md-2">
    <div class="owner-card">
      <app-owner-card></app-owner-card>
    </div>
  </div>
  <div class="col-md-10">
    <div class="houses-list">
      <div class="card" [style.height]="cardHeight">
        <div class="card-header">
          Houses
          <div class="card-header-actions" [ngSwitch]="currentUser.role">
            <div class="btn-group" dropdown *ngSwitchCase="roles.ROLE_ADMIN">
              <button class="btn btn-primary" type="button" (click)="onEdit()" [disabled]="!(selected.length === 1)">
                Edit
              </button>
              <button id="button-split-admin" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                      type="button"
                      dropdownToggle aria-controls="dropdown-split-admin">
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
              </button>
              <ul id="dropdown-split-admin" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-animated">
                <li role="menuitem">
                  <a href="javascript:void(0);" class="dropdown-item"
                     [ngClass]="!(selected.length > 0 && shouldEnable()) ? 'disabled' : ''"
                     (click)="onEnable()">Enable</a>
                </li>
                <li role="menuitem">
                  <a href="javascript:void(0);" class="dropdown-item"
                     [ngClass]="!(selected.length > 0) ? 'disabled' : ''"
                     (click)="onDelete()">Delete</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <a href="javascript:void(0);" class="dropdown-item"
                     [ngClass]="!(selected.length === 1) ? 'disabled' : ''"
                     (click)="onViewComments()">View comments</a></li>
              </ul>
            </div>
            <div class="btn-group" dropdown *ngSwitchCase="roles.ROLE_USER">
              <button class="btn btn-primary" type="button" (click)="onNew()">New</button>
              <button id="button-split-user" class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button"
                      dropdownToggle aria-controls="dropdown-split-user">
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
              </button>
              <ul id="dropdown-split-user" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-animated">
                <li role="menuitem">
                  <a href="javascript:void(0);" class="dropdown-item"
                     [ngClass]="!(selected.length === 1) ? 'disabled' : ''"
                     (click)="onEdit()">Edit</a>
                </li>
                <li role="menuitem">
                  <a href="javascript:void(0);" class="dropdown-item"
                     [ngClass]="!(selected.length > 0) ? 'disabled' : ''"
                     (click)="onDelete()">Delete</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <a href="javascript:void(0);" class="dropdown-item"
                     [ngClass]="!(selected.length === 1) ? 'disabled' : ''"
                     (click)="onViewComments()">View comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [columns]="columns"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [rowHeight]="50"
            [loadingIndicator]="loading"
            [selectionType]="SelectionType.multi"
            [externalPaging]="true"
            [externalSorting]="true"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            [limit]="page.size"
            (select)="onSelect($event)"
            (page)="setPage($event)"
            (sort)="onSort($event)">
            <ngx-datatable-column name="Name" headerClass="header"></ngx-datatable-column>
            <ngx-datatable-column name="Phones" headerClass="header"></ngx-datatable-column>
            <ngx-datatable-column name="Address" headerClass="header"></ngx-datatable-column>
            <ngx-datatable-column name="Rooms" headerClass="header right-align"
                                  cellClass="right-align"></ngx-datatable-column>
            <ngx-datatable-column name="Enabled" headerClass="header center-align" cellClass="checkbox-cell">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <ngx-checkbox [iconClass]="'fas fa-check-square'" [isChecked]="value" (isClicked)="checkboxClicked($event)"></ngx-checkbox>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<app-delete #deleteComponent></app-delete>
